{% extends 'base.html.twig' %}
{% block title %}A propos de nous{% endblock %}
{% block content %}
    <div class="blockcontainer text-center">
        <h1>Qui sommes-nous ?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est diam, ultricies quis sagittis aliquet, luctus nec enim. Nunc egestas elementum eros et rhoncus. Sed non pellentesque dolor. Sed viverra at eros eu bibendum. Vestibulum vitae felis finibus, cursus dui in, elementum neque. Praesent vehicula dui nulla, ac gravida ligula tristique quis. Proin velit velit, dignissim a urna quis, egestas luctus tellus.

            Morbi porttitor ante ac ex egestas sodales. Aenean vitae sem eu magna tincidunt porttitor. Suspendisse est urna, finibus nec orci nec, eleifend semper ipsum. Donec vel tincidunt massa. Nulla placerat massa nibh, eu interdum quam porttitor vel. In semper eget mauris eu hendrerit. Maecenas vestibulum aliquet lectus, eget congue ex pellentesque id. Etiam ut blandit lorem, ac laoreet lectus. Suspendisse quis dui euismod, porttitor nibh at, ultrices velit. Pellentesque aliquam hendrerit lorem sed tincidunt. Nullam dignissim, libero ut lobortis aliquam, arcu lectus eleifend mi, vitae blandit ipsum erat ac purus.</p>
        <h2>Nous trouver</h2>
                EcoWeb <br>
                Japon, 〒160-0023 Tokyo, Shinjuku City, Nishishinjuku, 1 Chome−7−3 モ <br>
                01 XX XX XX XX
                Le standard est ouvert du lundi au vendredi de 9h30 à 12h et de 14h à 19h.<br>
        <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21640.25425082855!2d139.71262627166098!3d35.6978378780657!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cd6981dce11%3A0x4c93aeebef13825d!2sTokyo%20Mode%20Gakuen!5e0!3m2!1sfr!2sfr!4v1650032719624!5m2!1sfr!2sfr" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
{% endblock %}