{% extends 'base.html.twig' %}
{% block title %}A propos de nous{% endblock %}
{% block content %}
    <div class="blockcontainer text-center">
        <h1>Qui sommes-nous ?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur est diam, ultricies quis sagittis aliquet, luctus nec enim. Nunc egestas elementum eros et rhoncus. Sed non pellentesque dolor. Sed viverra at eros eu bibendum. Vestibulum vitae felis finibus, cursus dui in, elementum neque. Praesent vehicula dui nulla, ac gravida ligula tristique quis. Proin velit velit, dignissim a urna quis, egestas luctus tellus.

            Morbi porttitor ante ac ex egestas sodales. Aenean vitae sem eu magna tincidunt porttitor. Suspendisse est urna, finibus nec orci nec, eleifend semper ipsum. Donec vel tincidunt massa. Nulla placerat massa nibh, eu interdum quam porttitor vel. In semper eget mauris eu hendrerit. Maecenas vestibulum aliquet lectus, eget congue ex pellentesque id. Etiam ut blandit lorem, ac laoreet lectus. Suspendisse quis dui euismod, porttitor nibh at, ultrices velit. Pellentesque aliquam hendrerit lorem sed tincidunt. Nullam dignissim, libero ut lobortis aliquam, arcu lectus eleifend mi, vitae blandit ipsum erat ac purus.</p>
        <h2>Nous contacter</h2>
        Formulaire de contact
    </div>
{% endblock %}