{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé{% endblock %}
{% block footerbottom %}
    {% block content %}
        <div class="blockcontainer text-center">
            <p>
                Si l'email renseigné correspont bien à un compte sur EcoWeb, un email vient de vous être envoyé pour réinitialiser votre mot de passe.
                Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>
            <p>Si vous ne voyez pas l'email, vérifiez votre boîte de spam ou <a href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.</p>
        </div>
    {% endblock %}
{% endblock %}
