{% extends 'base.html.twig' %}

{% block title %}Réinitialiser son mot de passe{% endblock %}
{% block footerbottom %}
    {% block content %}
        <div class="blockcontainer text-center">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <h1>Réinitialiser son mot de passe</h1>

            {{ form(form) }}
        </div>
    {% endblock %}
{% endblock %}
