@charset "UTF-8";

/*
* Feuille de style personnalisée pour EcoWeb
*/

/* Style general */
body {
    font-family: 'Raleway', sans-serif;
}
.btn-success.custom-btn {
    background-color: #78c2a4;
    border-color: #78c2a4;
    color: white;
    font-family: 'Fredoka', sans-serif;
}

.btn-success.custom-btn:hover {
    background-color: #e3a76f;
    border-color: #e3a76f;
    transition: 0.3s ease-in;
    color: white;
}

.bandeau {
    background-color: #78c2a4;
    font-family: 'Raleway', sans-serif;
}

#mainNav {
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
}

/* Contenu des pages */

.blockcontainer {
    padding: 7rem 7rem 0 7rem;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.blockcontainer a {
    text-decoration: none;
    color: #78c2a4;
}

.blockcontainer a:hover {
    text-decoration: none;
    color: brown;
    transition: color 0.3s;
}

.blockcontainer h1 {
    font-family: 'Fredoka', sans-serif;
}

.blockcontainer h2 {
    font-family: 'Fredoka', sans-serif;
}

.blockcontainer .card {
    width: 18rem;
}

.blockcontainer .card-text {
    height: 60px;
    overflow-y: auto;
    text-align: left;
}
.bottom-line-card {
    position: absolute;
    margin-bottom: 5px;
    bottom: 0;
 }

/* Formation display */

.footer-stuck {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.formationcontainer {
    padding: 7rem 1rem 0 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

.formationcontainer a {
    text-decoration: none;
    color: #78c2a4;
}

.formationcontainer a:hover {
    text-decoration: none;
    color: brown;
    transition: color 0.3s;
}

.formationcontainer h1 {
    font-family: 'Fredoka', sans-serif;
}

.formationcontainer h2 {
    font-family: 'Fredoka', sans-serif;
}

.sidenav {
    float: left;
}

.lesson_content {
    text-align: justify;
    width: 82%;
    float: right;
}
/* Media queries */

@media screen and (max-width: 780px) {
    .blockcontainer {
        padding: 7rem 2rem 0 2rem;
        font-size: 14px;
    }
    .navbar-brand {
        width: 100px;
    }
    .navbar-brand img {
        width: 150px;
    }
    *{
        padding: 0;
        margin: 0;
    }
    .sidenav {
        width: 100%;
    }
    .formationcontainer {
        padding: 5rem 0 0 0;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
    }
    iframe {
        width: 90%;
    }
    .formationcontainer p {
        text-align: justify;
        width: 95%;
        margin-left: 3%;
    }
    .footer-stuck {
        position: relative;
        bottom: 0;
        width: 100%;
    }
}

@media(min-width:780px){
    #sidenav-btn{
        display:none;
    }
}