{% extends 'base.html.twig' %}
{% block title %}S'inscrire{% endblock %}
{% block content %}
    <div class="blockcontainer text-center">
        <h1>Devenir apprenant</h1>
        <br>
        {{ form(form) }}
        Souhaitez-vous plutôt <a href="{{ path('app_apply') }}">devenir formateur</a> ?
    </div>
{% endblock %}