{% extends 'base.html.twig' %}
{% block title %}Termes et conditions{% endblock %}
{% block content %}
    <div class="blockcontainer text-center">
        <h1>Un titre niveau h1</h1>
        <h2>Un titre niveau h2</h2>
        <br>
        <p style="width: 350px; text-align: justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend commodo enim, in convallis velit lacinia at. Fusce a lacinia felis, et placerat nisl.
        </p>
    </div>
{% endblock %}