{% extends 'base.html.twig' %}
{% block title %}Confirmation d'inscription{% endblock %}
{% block content %}
    <div class="blockcontainer text-center">
        <h1>Merci pour votre inscription !</h1>
        <br>
        <p>
           Nous sommes ravis de vous compter parmi nous !
            // Pour les apprenants :
            Souhaitez-vous découvrir nos formations ?

            // Pour les formateurs :
            Un administrateur va consulter votre candidature et valider votre demande, vous recevrez un mail lorsque vous pourrez accéder à votre espace.
        </p>
    </div>
{% endblock %}