{% extends 'base.html.twig' %}
{% block title %}Merci pour votre inscription !{% endblock %}
{% block footerbottom %}
    {% block content %}
        <div class="blockcontainer text-center">
            <h1>Bienvenue parmi nous</h1>
            <p>
                Merci d'avoir rejoint notre grande communauté ! <br>
                Envie d'apprendre ? Vous pouvez vous connecter <a href="{{ path('app_login') }}">ici</a>.
                <br>
                Si vous avez candidaté pour devenir instructeur, un admin doit valider votre demande avant que vous puissiez vous connecter.
            </p>
        </div>
    {% endblock %}
{% endblock %}