{% extends 'base.html.twig' %}
{% block title %}Formations{% endblock %}
{% block content %}
    <div class="blockcontainer text-center">
        <h1>Nos formations</h1>
        <br>
            <div class="row">
                {% for formation in formations %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="{{ vich_uploader_asset(formation, 'imageFile') }}" alt="{{ formation.imageName }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ formation.title }}</h5>
                                <p class="card-text">{{ formation.description }}</p>
                                <a class="small btn btn-success custom-btn rounded-pill px-3" href="" role="button">voir</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}